.button {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  width: 80%;
  max-width: 30rem;
  margin: 1rem;
  transition: 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: var(--btn-bg-hover);
}
