.button {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text);
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  width: 80%;
  min-width: 25rem;
  transition: 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
}

.max-w-sm {
  max-width: 30rem;
}

.max-w-md {
  max-width: 50rem;
}

.max-w-lg {
  max-width: 80rem;
}

.max-w-xl {
  max-width: 100rem;
}
