.label {
  font-size: 1.6rem;
  font-weight: 500;
  width: 80%;
  min-width: 25rem;
  transition: 0.3s ease-in-out;
}

.label:hover {
  cursor: pointer;
}

.max-w-sm {
  max-width: 30rem;
}

.max-w-md {
  max-width: 50rem;
}

.max-w-lg {
  max-width: 80rem;
}

.max-w-xl {
  max-width: 100rem;
}

.white {
  color: #fff;
}
