.card {
  width: 35rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  align-items: center;
  text-align: center;
  border-radius: 0.6rem;
  box-shadow: 0rem 1rem 2rem #0000002c;
  border: 0.2rem solid var(--border-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.card p {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #333;
  text-align: center;
}

.icon {
  margin-top: 2rem;
  font-size: 4rem;
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 3rem;
  color: var(--color-primary);
}

.description {
  font-size: 1.4rem;
  color: #555;
  margin-top: 1rem;
}
