.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-primary);
  box-shadow: 0.2rem 0.4rem 0.5rem #0000001a;

  color: var(--btn-text);
  border: 1px solid #e1e1e1;
  border-radius: 1.8rem;
  border: none;
  font-size: 2rem;
  font-weight: 600;

  cursor: pointer;
  padding: 2rem;

  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--link-hover);
}

form {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttonUpload {
  width: 80%;
  padding: 15rem 10rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 0.6rem;

  border: 4px dashed transparent;

  border-image-source: repeating-linear-gradient(
    135deg,
    var(--color-primary) 0,
    var(--color-primary) 10px,
    transparent 10px,
    transparent 20px
  );
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonUpload:hover {
  width: 80%;
  font-size: 2rem;
  background-color: #f9f9f9;
}

.buttonSumbit {
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--btn-bg);
  border: 1px solid transparent;
  color: var(--btn-text);
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  cursor: pointer;
  width: 80%;
  transition: 0.3s ease-in-out;
}

.buttonSumbit:hover {
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--btn-bg-hover);
  border: 1px solid transparent;
  color: var(--btn-text);
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
